[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://gitee.com/roberchen/spdlog.git
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = git@github.com:hangge1/glfw.git
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = git@github.com:hangge1/imgui.git
